<div class="w-full py-4 bg-neutral-100 text-center border-t">
    {{ App().name }}, version {{ App().version }}
    <div class="menus">
        <a href="/documentation">Documentation</a> -
        <a href="/docs">À propos de</a> -
        <a href="/docs">Plan du site</a>
    </div>
</div>