<!DOCTYPE html>
<html>
	<head>
		<title>{{ title }}</title>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="stylesheet" href="/css/index.css" />
		<link rel="shortcut icon" href="favicon.ico" />

		<script src="https://cdn.tailwindcss.com"></script>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

		{{ block("head") }}
	</head>
	<body>
		{% block app %}
			{# Body block #}
		{% endblock %}
	</body>
</html>
