{% extends "layouts/base.twig" %}

{% set title = "Documentation" %}

{% block head %}
	<script src="/js/index.js"></script>
{% endblock %}

{% block section %}
    <h1>Bienvenue dans la documentation</h1>
{% endblock %}
